<h2><%= @lab_pc.name %></h2>

<%= form_for @lab_pc do |f| %>
<%= #form_for @lab_pc, :url => {:action => "confirm"} do |f| %>
<p>
  <%= f.label :os %><br>
  <%= f.text_field :os %>
  <% if @lab_pc.errors.any? %>
  <%= @project.erroes.messages[:os][0] %>
  <% end %>
</p>
  <!--<%= f.hidden_field :os# <=データ保持 %> -->
<p>
  <%= f.submit %>
</p>

<% end %>
