<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  	<script type="text/javascript" src="https://dl.dropbox.com/u/59384927/jquery/HTML/ACCORDION/NestedAccordion/jquery.nestedAccordion.js"></script>
  	<meta name="robots" content="noindex, nofollow" />

      <div class="container">
          <div class="header">
            <ul class="nav nav-pills pull-right">
              <li><%= link_to 'Home',home_index_path %></li>
              <li><a href="borrow.html">Borrow</a></li>
              <li><%= link_to 'Resources', resources_path %></li>
              <li><%= link_to 'Register', new_resource_path %></li>
              <li><%= link_to 'User', edit_user_registration_path %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              <% if current_user.status=="manager" %>
              <li><li class="active"><a href="index.html">CHINO</a></li>
              <% end %>
            </ul>
            <% if current_user.status == "manager" %>
                <h3 class="text-muted">Manager</h3>
                <% else %>
                <h3 class="text-muted">User</h3>
                <% end %>
          </div>

  </head>
  <body>
    <div class="row marketing">
    <h3>ソフトウェア</h3>
    </br>
    </br>
    <%= form_for @software, url: {action: 'create'} do |f| %>

      <div class="field">
        <%= f.label :name, "ソフトウェア名：" %>
        <%= f.text_field :name %>
      </div></br>
      <div class="field">
        <%= f.label :limit, "使用可能上限数：" %>
        <%= f.number_field :limit %>
      </div></br>

    </br>
    </br>
    </br>
    </br>
    </br>

      <%= f.submit ("登録") %>
      <input type="button" value="戻る" onClick="history.back()">
    </div>


<% end %>







    <div class="footer">
      <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>


    </div>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
